body {
	background-color:#7f7dc7;
}

main {
	display: block;
	margin: auto;
	max-width:1000px;
	text-align: left;
	background-color:#48469c;
	border-radius: 10px;

}

main section {
	margin: 10px;
	padding:10px;
	width:80%;
	margin:auto;
}

main section img {
	display:block;
	margin:auto;
	max-width:300px;
	max-height: 300px;
	width:100%;
	border-radius:300px;
}
